<div class="form-style-2">
  <div class="form-style-2-heading">Provide your information</div>
  <form>
    <label for="field1"
      ><span class="adjust">Provider Name </span
      ><input
        (keyup)="addProvider($event)"
        type="text"
        class="input-field"
        name="field1"
        value=""
    /></label>

    <label for="field4"
      ><span class="adjust">
        Automatic Payment <span class="required"></span></span
      ><select (change)="pay($event)" id="option">
        <option value="Select">Select</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </label>

    <label class="adjust2"
      ><input
        class="submit"
        type="button"
        value="Subscribe"
        (click)="addSubscription()"
    /></label>
  </form>
</div>
